body {
    font-family: 'Manrope', sans-serif;
}


.container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {    
        max-width: $mobile;    
    }
    @media screen and (min-width: $tablet) {
        
        max-width: $tablet;
        
    }
        @media screen and (min-width: $desktop) {
            
            max-width: $desktop;
            
        }
}

.main_section {
    padding-bottom: 60px ;
    @media screen and (min-width: $tablet) {    
        padding-bottom: 100px;    
    }
    @media screen and (min-width: $desktop) {    
        padding-bottom: 150px;
    }
}
.favorite-section {
    padding-top: 40px;
    
        @media screen and (min-width: $tablet) {
            padding-top: 48px;
        }
    
        @media screen and (min-width: $desktop) {
            padding-top: 60px;
        }
}



