<div class="calendar-form">
  <div class="calendar-title">
    <p class="calendar-title--text">Search date news</p>
  </div>
  <div class="input-form">
    <svg class="calendar__button-calendar" width="14" height="14">
      <use href="./images/symbol-defs.svg#icon-frame"></use>
    </svg>
    <input
      readonly
      id="input-picker"
      class="calendar_input"
      placeholder="Виберіть дату..."
    />
    <svg class="calendar__button-arrow" width="14" height="14">
      <use href="./images/symbol-defs.svg#icon-down"></use>
    </svg>
  </div>
</div>
