<div class="filter-elements">
  <div class="filter-category">
    <ul class="filter-category__list-bt">
      <li class="filter-category__item-bt">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </li>
      <li class="filter-category__item-bt">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </li>
      <li class="filter-category__item-bt">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </li>
      <li class="filter-category__item-bt">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </li>
      <li class="filter-category__item-bt">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </li>
      <li class="filter-category__item-bt">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </li>
    </ul>
    <div class="filter-category__others-container">
      <button class="filter-category__others-button">
        <span>Categories</span>
        <svg class="filter-category__button-arrow" width="14" height="14">
          <!-- <use href="./images/sprite.svg#arrow-down"></use> -->
        </svg>
      </button>
      <div class="filter-category__container">
        <!-- место для динамического списка -->
      </div>
    </div>
  </div>
</div>
