 

<header class="header">
    <div class="container header__container">
      <nav class="navigation">
        <a class="logo-header" href="./index.html">
          News
        </a>
  
        <!-- <include src="./partials/burger_menu.html"></include> -->
  
        <div class="navigation__wrap">
          <ul class="navigation_list list">
            <li class="navigation_item">
              <a class="navigation_link" href="">Home</a>
            </li>
            <li class="navigation_item">
              <a class="navigation_link" href="">Favorite</a>
            </li>
            <li class="navigation_item">
              <a class="navigation_link" href="">Read</a>
            </li>
          </ul>
          <!-- <button
            type="button"
            class="hero__buttonOpenModal header__button"
            data-modal-open
          >
            Order Now
          </button> -->
        </div>

        <form class="search-form" id="search-form">
            <button class="search-form-btn" type="submit">
              <svg class="search" width="15" height="15" aria-label="search">
                <!-- href="./images/symbol-defs.svg#icon-search" -->
                <use class="icon-search" href=""></use>
              </svg>
            </button>
            <input class="search-form-input" type="text" name="searchQuery" autocomplete="off"
              placeholder = "Search" />
        </form>
      </nav>
      
      <div class="toogle">
        <span class="toogle-light">Light</span>
        <label class="switch">
            <!-- <input type="checkbox"> -->
            <span class="slider">
            </span>
        </label>
        <span class="toogle-dark">Dark</span>
      </div>
    </div>
  </header>
  