<header class="header">
    <div class="container header__container">
      <nav class="navigation">
        <a class="navigation__logo" href="./index.html">
          News
        </a>

        
        <div class="navigation__wrap" >
          <!-- <button class="mobile-search-btn" type="button">
            <svg class="search" width="20" height="20" aria-label="search">
              <use class="icon-search" href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
          </button> -->
          <button class="mobile-burger-btn" type="button" data-burger-open>
          <svg class="menu" width="24" height="24" aria-label="menu">
            <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
          </svg>
          </button>
        </div>

        

        <div class="burger_menu-conteiner menu-is-hidden list" data-burger>
          <button type="button" class="icon-cross" data-burger-close>
            <svg width="24" height="24" aria-label="cross">
              <use class="cross" href="/src/images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </button>
          <ul class="burger_menu-list list">
            <li class="burger_menu-item">
              <svg width="32" height="32" aria-label="home">
                <use class="icon-homepage" href="/src/images/symbol-defs.svg#icon-homepage"></use>
              </svg>
              <a href="./index.html" class="burger_menu-text ">Home</a>
            </li>
            <li class="burger_menu-item">
              <svg width="32" height="32" aria-label="favoritepage">
                <use class="icon-favoritepage" href="/src/images/symbol-defs.svg#icon-favoritepage"></use>
              </svg>
              <a href="./favorite.html" class="burger_menu-text">Favorite</a>
            </li>
            <li class="burger_menu-item ">
              <svg width="32" height="32" aria-label="readpage">
                <use class="icon-readpage" href="/src/images/symbol-defs.svg#icon-readpage"></use>
              </svg>
              <a href="./read.html" class="burger_menu-text">Read</a>
            </li>
          </ul>
          <div class="burger-toogle-container">
            <div class="toogle-wrap">
              <span class="toogle toogle-light">Light</span>
              <svg class="sun" width="24" height="24" aria-label="sun">
                <use class="icon-lightthema" href="./images/symbol-defs.svg#icon-lightthema"></use>
              </svg>
            </div>
            <label class="switch">
                <input class="checkbox_switch" type="checkbox">
                <span class="slider">
                </span>
            </label>
            <div class="toogle-wrap">
              <span class="toogle toogle-dark">Dark</span>
              <svg class="moon" width="24" height="24" aria-label="moon">
                <use class="icon-darkthema" href="./images/symbol-defs.svg#icon-darkthema"></use>
              </svg>
            </div>
          </div>
        </div>
        
        <ul class="navigation_list list">
          <li class="navigation_item">
            <a class="navigation_link" href="./index.html">Home</a>
          </li>
          <li class="navigation_item">
            <a class="navigation_link" href="./favorite.html">Favorite</a>
          </li>
          <li class="navigation_item">
            <a class="navigation_link" href="./read.html">Read</a>
          </li>
        </ul>
          
        <div class="form-wrap">
          <form class="search-form form-is-hidden" id="search-form">
            <!-- <div class="search-form-wrap"> -->
              <button class="search-form-btn" type="submit">
                <svg class="search" width="20" height="20" aria-label="search">
                  <use class="icon-search" href="./images/symbol-defs.svg#icon-search"></use>
                </svg>
              </button>
              <input class="search-form-input"
              type="text"
              name="searchQuery"
              autocomplete="off"
              placeholder="Search" />
            <!-- </div> -->
        </form>
        
        </div>

        <div class="toogle-container">
          <div class="toogle-wrap">
            <span class="toogle toogle-light">Light</span>
            <svg class="sun" width="24" height="24" aria-label="sun">
              <use class="icon-lightthema" href="./images/symbol-defs.svg#icon-lightthema"></use>
            </svg>
          </div>
          <label class="switch">
              <input class="checkbox_switch" type="checkbox">
              <span class="slider">
              </span>
          </label>
          <div class="toogle-wrap">
            <span class="toogle toogle-dark">Dark</span>
            <svg class="moon" width="24" height="24" aria-label="moon">
              <use class="icon-darkthema" href="./images/symbol-defs.svg#icon-darkthema"></use>
            </svg>
          </div>
        </div>
      </div>
      
      </nav>
      
</header>
  