<section class="not-found">
  <p class="not-found__text">We haven't found news from this category</p>
  <picture>
    <source
      srcset="
        ./images/not-found/mobile-not-found.png 1x,
        ./images/not-found/mobile-not-found.png 2x
      "
      media="(max-width:767px)"
      type="image/png"
    />
    <source
      srcset="
        ./images/not-found/tablet-not-found.png 1x,
        ./images/not-found/tablet-not-found.png 2x
      "
      media="(min-width:768px)"
      type="image/png"
    />
    <source
      srcset="
        ./images/not-found/desktop-not-found.png 1x,
        ./images/not-found/desktop-not-found.png 2x
      "
      media="(min-width:1280px)"
      type="image/png"
    />
    <img
      class="not-found__img"
      src="./images/not-found/mobile-not-found.png"
      alt="News haven't found"
      width="248"
    />
  </picture>
</section>
