<section class="not-found not-found--hidden">
  <p class="not-found__text">We haven't found news </br> from this category</p>
  <picture>
    <source
      srcset="
        ./images/not-found/desktop-not-found.png    1x,
        ./images/not-found/desktop-not-found@2x.png 2x
      "
      media="(min-width:1279.98px)"
      type="image/png"
    />
    <source
      srcset="
        ./images/not-found/tablet-not-found.png    1x,
        ./images/not-found/tablet-not-found@2x.png 2x
      "
      media="(min-width:767.98px)"
      type="image/png"
    />
    <img
      class="not-found__img"
      srcset="
        ./images/not-found/mobile-not-found.png,
        ./images/not-found/mobile-not-found@2x.png 2x
      "
      alt="News hasn't been found"
    />
  </picture>
</section>
