<div class="weather">
    <div class="weather__info">
        <span class="weather__deg"></span>
        <div class="weather__geo">
            <span class="weather__value"></span>
            <p class="weather__location">
                <span class="weather__city"></span>
            </p>
        </div>
    </div>
    <img class="weather__img" />
    <div class="weather__date">
        <p class="weather__day"></p>
        <p class="weather__year"></p>
    </div>
    <a
        href="https://sinoptik.ua/"
        class="weather__link"
        target="_blank"
        rel="noreferrer noopener"
    >
    weather for week</a>
</div>
<script type="module" src="./js/weather/index.js"></script>