
.list-news {
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    @media screen and (min-width: 767px) {
       justify-content: start;
    }

}
.item-news__article {
    width: 288px;
    height: 630px;
    position: relative;


    @media screen and (min-width: 767px) {
        width: 353px;
        height: 675px;
    }

    @media screen and (min-width: 1279px) {
        width: 395px;
    }
}


.list-news__item {
    position: relative;
    
    pointer-events: auto;
    width: 100%;
    
    max-height: 630px;

}
.item-news__wrapper-img {
    pointer-events: auto;
    
    position: relative;
}
.item-news__img {
    display: block;
    
    width: 288px;
    height: 395px;

    @media screen and (min-width: 767px) {
            width: 353px;
            height: 395px;
        }
    
        @media screen and (min-width: 1279px) {
            width: 395px;
            height: 395px;
        }
    
}

.item-news__wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-bottom: 20px;

    @media screen and (min-width: 767px) {
        height: 240px;
    }
    @media screen and (min-width: 1279px) {
        
        height: 200px;
    }
}
.item-news__title {
    letter-spacing: -.01em;
    color: #111321;
    margin:  20px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375;
}
.item-news__description {
    
    font-size: 14px;
    line-height: 1.36;
    margin: 0;
    max-width: 353px;

    @media screen and (min-width: 767px) {
    font-size: 16px;
    }

    
}
.item-news__info {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    
}
.item-news__info-date {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

}



.item-news__category {

    min-width: 96px;
    height: auto;
    color: #ffffff;
    background: rgba(68, 64, 247, .7);
    border-radius: 0 4px 4px 0;
    justify-content: center;
    margin: 0;
    padding: 4px 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    position: absolute;
    top: 40px;
    left: 0;
}

.item-news__add-to-favorite {
    cursor: pointer;
    z-index: 2;
    min-width: 40px;
    min-height: 10px;
    text-align: left;
    color: #111321;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0;
    padding: 6px 32px 6px 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    position: absolute;
    bottom: 12px;
    right: 12px;

    &:active {
        transform: scale(0.9);
    }
}