.input-form {
  display: flex;
  align-items: center;
  position: relative;
}

.calendar-form {
  display: flex;
  align-items: center;
}

.calendar-title {
  margin-right: 37px;
}

.calendar-title--text {
  display: none;

  @media screen and (min-width: $desktop) {
    display: inline;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
  }
}
.input-picker {
  width: 168px;
  height: 31px;
  gap: 18px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
}
.calendar_input {
  width: 151px;
  height: 31px;
  gap: 13px;
  font-size: 12px;
  line-height: 1.75;
  outline: none;
  border: 1px solid #111321;
  border-radius: 20px;
  padding: 0;
  text-align: center;
  cursor: url(../images/pointer.svg), pointer;
  color: var(--gray-color);
  @media screen and (min-width: $tablet) {
    width: 168px;
    height: 31px;
    gap: 18px;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    border: 1px solid #111321;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    color: var(--gray-color);
  }
}
.calendar__button-arrow {
  position: absolute;
  right: 10px;
}
.calendar__button-calendar {
  position: absolute;
  right: 0;
  left: 10px;
}
input::placeholder {
  padding: 5px 30px;
}

.calendar_input.isActive::placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}

.calendar_input.isActive {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  border: 1px solid #4440f7;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar__button-arrow {
  fill: var(--accent-color);
}
.calendar__button-calendar {
  fill: var(--accent-color);
}

.calendar__button-arrow.switched {
  fill: var(--white-color);
  transform: rotateX(180deg);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.calendar__button-calendar.switchedColor {
  z-index: 1;
  fill: var(--white-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
