
.list__card {
    
        @media screen and (max-width: 767px) {
            max-width: 288px;            
        }
    
        @media screen and (min-width: 768px) {
            width: 353px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px
            
        }
    
        @media screen and (min-width: 1280px) {
            width: 1280px;
            row-gap: 40px;
            column-gap: 32px;
            }
}

.container-card {
    
            @media screen and (max-width: 767px) {
                max-width: 288px;
                height: 630px;
            }
        
            @media screen and (min-width: 768px) {
                width: 353px;
                height: 675px;                               
            }
        
            @media screen and (min-width: 1280px) {
                width: 395px;   
                height: 675px;
            }
}
