.filter-category__item-bt.isActive-outsideBt {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.filter-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 60px;
}

.filter-category {
    position: relative;
    display: flex;

    &__others-container {
        @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
            margin-left: 14px;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 16px;
        }
    }

    .filter-category__others-container.is-open &__list {
        visibility: visible;
        transform: translateY(0);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        z-index: 999;
    }

    .filter-category__others-container.is-open &__container {
        transform: scale(1);
        pointer-events: auto;
    }

    .filter-category__others-container.is-open &__others-button {
        color: var(--white-color);
        background-color: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .filter-category__others-container.is-open &__button-arrow {
        fill: var(--white-color);
        transform: rotateX(180deg);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__list-bt {
        @media screen and (max-width: $pre_tablet) {
            display: none;
        }

        @media screen and (min-width: $tablet) {
            display: flex;
        }
    }

    &__item-bt {
        cursor: pointer;

        &:nth-child(n + 5) {
            @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
                display: none;
            }
        }

        &:hover,
        &:focus {
            color: var(--white-color);
            background-color: var(--accent-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__item-bt+&__item-bt {
        @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
            margin-left: 14px;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 16px;
        }
    }

    &__item-bt {
        padding-top: 7.5px;
        padding-right: 21.5px;
        padding-bottom: 7.5px;
        padding-left: 21.5px;
        border-radius: 20px;
        border: 1px solid var(--accent-color);

        color: var(--accent-color);
        background-color: var(--white-color);

        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }

    &__others-button {
        display: flex;
        align-items: center;

        padding-top: 7.5px;
        padding-right: 21.5px;
        padding-bottom: 7.5px;
        padding-left: 21.5px;
        border-radius: 20px;
        border: 1px solid var(--accent-color);

        color: var(--accent-color);
        background-color: var(--white-color);

        font-size: 12px;
        line-height: 16px;
        text-align: center;

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button-arrow {
        margin-left: 10px;
        fill: var(--accent-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__container {
        overflow: hidden;
        position: absolute;
        z-index: 2;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        pointer-events: none;
    }

    &__list {
        display: block;
        width: 148px;
        padding: 24px;
        border-radius: 20px;

        transform: translateY(-100%);

        background-color: #F8F8F8;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button {
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: 0.01em;

        background-color: #F8F8F8;
        color: #4440F7;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        @media screen and (max-width: $pre_tablet) {}

    }

    &__item+&__item {
        margin-top: 12px;
    }
}

// ------------------------------------------------------------------
// анимация loader spinner (загрузки)

//Ripple
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #cef;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.filter-category__item-bt,
.filter-category__others-button,
.filter-category__button,
.filter-category__list {
    cursor: url(../images/pointer.svg), pointer;
}