a, button {
  cursor: url(../images/pointer.svg), pointer;
}

/* Header */

.header {
  min-height: 81px;
  background: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &__container {
    position: relative;
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
    @media screen and (min-width: $pre_tablet) {
      max-width: 768px;
    }

    @media screen and (min-width: $pre_desktop) {
      max-width: 1280px;
  }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    padding: 24px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.37;
    color: var(--text-color);
    

    @media screen and (min-width: $tablet) {
      padding: 31px 0px;
      font-size: 32px;
    }

    @media screen and (max-width: $pre-desktop) {
      margin-right: 14px;
    }

    @media screen and (min-width: $desktop) {
      padding: 28px 0px;
      font-size: 42px;
      line-height: 1.36;
    }
  }

  .mobile-burger-btn {
    position: relative;
    height: 24px;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &_list {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;
      gap: 44px;
    }

    @media screen and (min-width: $desktop) {
      gap: 69px;
    }
  }

  &_link {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      position: relative;
      padding-top: 48px;
      padding-bottom: 36px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.37;
      color: var(--text-color);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }

    }

    @media screen and (min-width: $desktop) {
      padding-top: 55px;
      padding-bottom: 33px;
      font-size: 18px;
      line-height: 1.38;
    }
  }
}

.mobile-search-btn {
  margin-right: 17px;
}

.navigation_link.current::after {
  @media screen and (min-width: $tablet) {
    content: '';
    position: absolute;
    top: 78px;
    left: -5px;
    width: 120%;
    height: 1px;
    border-bottom: 1px solid #4440f7;
  }

  @media screen and (min-width: $desktop) {
    top: 85px;
    color: #4440f7;
  }
}

/* Search-form */

.form-wrap {
  display: flex;
  background-color: transparent;
  height: 31px;

  

  @media screen and (max-width: $pre-tablet) {
    margin-left: auto;
    margin-right: 14px;
  }
  
  @media screen and (min-width: $tablet) {
    padding-top: 44px;
    padding-bottom: 31px;
    position: relative;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (min-width: $tablet) {
      border: 1px solid var(--text-color);
      border-radius: 20px;
    
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      box-shadow: 1px 1px 3px 1px var(--accent-color);
    }
  }
  

  &-input {
      cursor: url(../images/pointer.svg), pointer;
      padding-left: 48px;
      padding-right: 15px;
      background: none;
      border: none;
      outline: none;
      font-size: 12px;
      font-weight: 500;
      color: var(--text-color);

      &:autofill,
      &:autofill:hover,
      &:autofill:focus,
      &:autofill:active {
        transition: background-color 9999s, color 9999s;
      }

      &::placeholder {
        padding-left: 0;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.75;
        
        @media screen and (min-width: $tablet) {
          font-size: 14px;
          line-height: 1.71;
          letter-spacing: 0.02em;
          opacity: 0.4;
        }
      }

      @media screen and (max-width: $pre_tablet) {
        padding: 0;
        transition: 0.4s;
        width: 0; 

        .search-form:hover & {
          width: 113px;
          height: 19px;
          padding: 5 10 5 48;
          border-radius: 20px;
          border: 1px solid var(--accent-color);
          box-shadow: 1px 1px 3px 1px var(--accent-color);
        }
      }
  

  

    @media screen and (min-width: $tablet) {
      width: 223px;
      font-size: 14px;
      font-weight: 600;
    }

    @media screen and (min-width: $desktop) {
      padding-left: 48px;
      font-size: 16px;
    }

  }
  
}

.search-form-btn {
  @media screen and (max-width: $pre_tablet) {
    transition: 0.4s;
    cursor: url(../images/pointer.svg), pointer;

    .search-form:hover & {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
      padding-left: 14px;
    }
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }
}

.search {
  @media screen and (max-width: $pre-tablet) {
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    transform: translateY(-50%);

  }
  

  @media screen and (min-width: $tablet) {
    display: block;
  }
  
}


/* Toogle light/dark */
.toogle-container {
  gap: 8px;

  @media screen and (max-width: $pre_tablet) {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.mobile {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 250;
      bottom: -450%;
      transform: translateY(450%);
      opacity: 100%;
      pointer-events: all;
      visibility: inherit;
    }
  }

  @media screen and (max-width: $pre_desktop) {
    width: 98px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 49px;
    padding-bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    width: 148px;
    padding-bottom: 39px;
  }
}

.toogle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  &-light {
    color: var(--switcher-accent-day);
  }

  &-dark {
    color: var(--switcher-gray-moon);
  }
}

.toogle-wrap span {
  @media screen and (max-width: $pre_desktop) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.toogle-wrap svg {
  @media screen and (max-width: $pre_desktop) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.burger-toogle-container {
  @media screen and (max-width: $pre_tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98px;
    padding-left: 16px;
    margin-bottom: 18px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  margin: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: url(../images/pointer.svg), pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 0.604701px solid var(--switcher-accent-day);
  background-color: var(--white-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--switcher-accent-day);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switcher-accent-day);
  border: 1px solid var(--white-color);
}

// input:focus + .slider {
//   background-color: var(--white-color);
// }

input:checked + .slider:before {
  top: 50%;
  right: 1px;
  transform: translate(85%, -50%);
  background-color: var(--white-color);

  @media screen and (min-width: $tablet) {
    transform: translate(90%, -50%);
  }

  @media screen and (min-width: $desktop) {
    transform: translate(120%, -50%);
  }
}

