/* Header */

.header {
  // position: fixed;  
  // top: 0;  
  // z-index: 100;  
  // width: 100%;
  // height: 100%;
  background: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  

  // &__container {
  //   display: flex;
  //   align-items: center;
  //   // justify-content: space-between;
  // }

}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    
    padding: 28px 0px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;

    color: var(--text-color);
  }

  &__wrap {
      display: flex;
      align-items: center;
    }

  &_list {
    display: flex;
    gap: 69px;
  }
  
  &_item{
    

    &.current {
      border-bottom: 1px solid var(--switcher-gray-moon);
    }
  }

  &_link {
    display: block;
    position: relative;
    padding-top: 55px;
    padding-bottom: 33px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    color: var(--text-color);

  }

}

.navigation_link--current::after {
    content: "";
    position: absolute;
    top: 85px;
    left: -5px;
    width: 120%;
    height: 1px;
    background-color: #4440F7;
}


/* Search-form */

.search-form {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  
  &-wrap {
    display: flex;
    
    border: 1px solid var(--text-color);
    border-radius: 20px; 
    position: relative; 
  }
  
  &-input {
    display: block;
    cursor: pointer;
    width: 242px;
    height: 29px;
    padding-left: 42px;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);

    &::placeholder {
      padding-left: 0;
      font-family: 'Poppins';
      line-height: 1.71;
      letter-spacing: 0.02em;
      opacity: 0.4;
    }
  }
}

.search-form-btn svg{
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  
}

/* Toogle light/dark */
.toogle-container {
  width: 148px;
  padding-top: 49px;
  padding-bottom: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.toogle {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  

  &-light {
    color: var(--switcher-accent-day);
  }

  &-dark {
    color: var(--switcher-gray-moon);
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 0.604701px solid var(--switcher-accent-day);
  background-color: var(--white-color);
  -webkit-transition: .4s;
  transition: .4s;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--switcher-accent-day);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--switcher-accent-day);
  border: 1px solid var(--white-color);
}

// input:focus + .slider {
//   background-color: var(--white-color);
// }

input:checked + .slider:before {
  top: 50%;
  right: 1px;
  transform: translate(110%, -50%);
  background-color: var(--white-color);
}
