.container__read {
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
  @media screen and(min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.date-list {

  text-align: start;
  width: 100%;
  margin-right: 8px;
  margin-bottom: 40px;
  @media screen and(min-width: 1200px) {
    margin-bottom: 52px;
  }
}

.data-list__btn {
  padding-bottom: 40px;
  width: 100%;
}

.date-list-search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #929292;
  padding-bottom: 12px;
}

// //   шрифт цифр

.date-list__data {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  color: #111312;
  margin-right: 8px;
}

// //   свг

.date-list__icon {
  color: #111321;
&.turn {
    transform: rotate(180deg);
  }
}
